body{
  background-color: #F5F5F5;
}

h4.title{
  margin-top: 0px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default {
    background-color: #4887BD;
    border-color: #4887BD;
    border-radius: 0px;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
